<!DOCTYPE html>
<html>
    <body>
        <h1>Hello, you</h1>
        This is visit #{{visit_count}}

        <ul>
            <li> <a href="/cookies">reload</a> </li>
            <li></li>
            <li> <a href="/cookies?reset=true">reset</a> </li>
            <li></li>
            <li> <a href="/">home</a> </li>
        </ul>
    </body>
</html>