<!DOCTYPE html>
<html>
    <body>
        <h1>Hello, {{name}}</h1>
        This is visit #{{visit_count}}

        <ul>
            <li> <a href="/cookieauth">reload</a> </li>
            <li></li>
            <li> <a href="/cookieauth?reset=true">reset</a> </li>
            <li></li>
            <li> <a href="{{url}}">{{button}}</a> </li>
            <li></li>
            <li> <a href="/">home</a> </li>
        </ul>
    </body>
</html>