<!DOCTYPE html>

<html>
    <body>
        <h1>Here are your {{food}} facts</h1>
        <ul>
        {{#each mylist}}
            <li>{{this}}</li>
        {{/each}}
        </ul>
        
        <a href="/factsForm">facts form</a>
        <br/>
        <br/>
        <a href="/">home</a>
    </body>
</html>