<!DOCTYPE html>

<html>
    <body>
        <h1>Hello from Siddharth</h1>
        <h3>Quick Links</h3>
        <ul> 
            <li> <a href="./demo">demo</a> </li>
            <li> </li>
            <li>page</li>
            <ul>
                <li> <a href="./dog">dog</a> </li>
                <li> <a href="./cat">cat</a> </li>
                <li> <a href="./fish">fish</a> </li>
            </ul>
            <li>query</li>
            <ul>
                <li> <a href="./pet?type=dog">dog</a> </li>
                <li> <a href="./pet?type=cat">cat</a> </li>
                <li> <a href="./pet?type=fish">fish</a> </li>
            </ul>
            <li></li>
            <li>random facts</li>
            <ul>
                <li> <a href="./facts?topic=fruit&num=8">fruit</a> </li>
                <li> <a href="./facts?topic=vegetables&num=8">vegetables</a> </li>
            </ul>
            <li> <a href="./factsForm">facts form</a> </li>
            <li></li>
            <li> <a href="./apod">apod</a> </li>            <! date=2021-03-11>
            <li></li>
            <li> <a href="./weather?lat=38.8536&long=-77.227">weather</a> </li>
            <li></li>
            <li> <a href="./cookies">cookie demo</a> </li>
            <li> <a href="./cookieauth">cookie auth</a> </li>
            <li></li>
            <li> <a href="./thispagedoesnotexistonmysite">error</a> </li>
        </ul>
    </body>
</html>